<header>
    <div class="top-bar">
    </div>
    <div class="header-nav">
        <div class="container">
            <nav>
                <ul>
                    <li><a href="">Link One</a></li>
                    <li><a href="">Link Two</a></li>
                    <li><a href="">Link Three</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<!------- banner ------->
<section class="banner">
    <div class="container">
        <h1>Do the right thing</h1>
    </div>
</section>

<!------- Opportunity ------->
<section class="opportunity">
    <div class="container">
        <h2>Credit Opportunities With Good Approval Odds†</h2>
        <div class="inner">
            <div class="detail">
                <div class="head">
                    <h3>Barclaycard CashForward™ World MasterCard™</h3>
                    <div class="reviews">
                        <!-- stars -->
                        <img src="assets/images/stars.png" alt="stars">
                        <span>3252 Reviews</span>
                    </div>
                </div>
                <div class="info-wrap">
                    <div class="card-info">
                        <div class="card-info-detail">
                            <img class="card" src="assets/images/visa-card.png" alt="visa-card">
                            <div class="card-text">
                                <span>Approval Odds†</span>
                                <a href="">Very Good</a> 
                            </div>
                        </div>                            
                        <a class="apply" href="#">Apply Now</a>
                    </div>
                    <div class="info-list">
                        <ul>
                            <li>Get a $100 cash rewards bonus after you spend $500 in purchases 
                                in the first 90 days after account oppening.</li>
                            <li>Earn unlimited 1.5% cash rewards on every purcahse.</li>
                            <li>Earn unlimited 1.5% cash rewards on every. <a href="#">show more</a></li>
                        </ul>
                        <a class="apply" href="#">Apply Now</a>
                    </div>                        
                </div>
            </div>
            <div class="see-details"><a href="#">See Details Rates & fees</a></div>
        </div>
    </div>
    
</section>